body{
  font-family: "游ゴシック体", YuGothic;
}

li{
  list-style: none;
}

header{
  position: relative;
  width: 100%;
}

a{
  text-decoration: none;
  color: #000;
}

/*ヘッダーメニュー*/
.header-menu{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 190px;
}

.header-menu li{
  margin-left: 25px;
  font-size: 15px;
  font-family: "游ゴシック体", YuGothic;
}

/*ヘッダー画像*/
.header-img{
  text-align: center;
}

.logo{  
  position: absolute;
  top: 30px;
  left: 50px;
}

.header-text{
  margin-top: 20px;
}

.topImg-pc{
  width: 85%;
}

.topImg-sp{
  display: none;
}

.logoText-pc{
  position: absolute;
  bottom: 0;
  right: 30px;
}

.logoText-sp{
  display: none;
}

/*ヘッダーテキスト*/
.header-text .pc{
  margin: 15px 0 0 50px;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.header-text .sp{
  display: none;
}

/*記事一覧*/
#blog_archive{
  width: 80%;
  margin: auto;
}


.articles{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}


.img-box{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.img-box li {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 450px;
  width: 31.3%;
  transition: .8s;
  border-radius: 5px;
}

.img-box li:nth-child(3),
.img-box li:last-child{
  margin-right: 0;
}

.img-box li:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.img-box img{
  height: 200px;
  max-width: 100%;
}

.date{
  margin-top: 20px;
  margin-left: 10px;
}

.article{
  margin-top: 20px;
  margin-left: 10px;
  height: 70px;
}

/*READ ME ホバー部分*/
.read{
  display: flex;
  justify-content: flex-end;
}

.next {
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
  text-align: right;
  margin-right: 10px;
}

.next::after {
  margin-top: 10px;
  background-color: #ddd;
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  right: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}

.next:hover::after {
  width: 100%;
}

/*フッター部分*/
footer{
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.footer{
  padding: 20px 0;
}

/*レスポンシブ対応*/
@media screen and (max-width:767px){
  .header-menu{
    display: none;
  }
  
  /*ヘッダー画像*/
  header .logo{
    position: static;
    margin-top: 20px;
  }

  .topImg-pc{
    display: none;
  }

  .topImg-sp{
    display: inline;
    margin-top: 20px;
    max-width: 90%;
  }

  .logoText-pc{
    display: none;
  }

  .logoText-sp{
    display: inline;
    position: absolute;
    top: 300px;
    left: 50px;
    width: 60%;
  }

  /*ヘッダーテキスト*/
  .header-text .pc{
    display: none;
  }

  .header-text{
    display: flex;
    justify-content: center;
  }

  .header-text .sp{
    display: inline;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  /*記事一覧*/
  .articles h1{
    font-size: 32px;
  }

  .img-box{
    flex-direction: column;
    max-width: 100%;
    margin: 20px auto;
  }

  .img-box img{
    width: 100%;
    height: auto;
  }

  .img-box li{
    margin: 0 0 20px 0;
    width: 400px;
    height: 100%;
  }

  .next{
    margin-bottom: 20px;
  }

}




