body{
  font-family: "游ゴシック体", YuGothic;
}

li{
  list-style: none;
}

header{
  position: relative;
  width: 100%;
}

a{
  text-decoration: none;
  color: #000;
}

/*ヘッダーメニュー*/
.header-menu{
  height: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 55px;
}

.header-menu li{
  margin-top: 15px;
  margin-left: 24px;
  font-size: 15px;
  font-family: "游ゴシック体", YuGothic;
}

/*ヘッダー画像*/
.header-img{
  text-align: center;
}

.logo{  
  position: absolute;
  top: 24px;
  left: 50px;
}

.header-text{
  margin-top: 20px;
}

.topImg-pc{
  width: 1027px;
}

.topImg-sp{
  display: none;
}

.logoText-pc{
  position: absolute;
  bottom: -8px;
  right: 52px;
}

.logoText-sp{
  display: none;
}

/*ヘッダーテキスト*/
.header-text{
  margin-top: 15px;
}

.header-text .pc{
  margin: 15px 0 0 50px;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.header-text .sp{
  display: none;
}


/*記事一覧*/
#blog_archive{
  width: 1027px;
  margin: auto;
}


.articles{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.articles h1{
  font-size: 30px;
}


.img-box{
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
}

.img-box li {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
  margin-bottom: 17px;
  height: 450px;
  width: 31.18%;
  transition: .8s;
  border-radius: 5px;
}

.img-box li:nth-child(3),
.img-box li:last-child{
  margin-right: 0;
}

.img-box li:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.date{
  margin-top: 16px;
  margin-left: 20px;

}

.article{
  margin: 20px 0 0 16px;
  height: 105px;
}

/*READ ME ホバー部分*/
.read{
  display: flex;
  justify-content: flex-end;
}

.next {
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}

.next::after {
  margin-top: 10px;
  background-color: #000;
  bottom: -10px;
  content: '';
  display: block;
  height: 1px;
  right: 2px;
  position: absolute;
  transition: .5s all;
  width: 21%;
}

.next:hover::after {
  width: 96%;
}

/*フッター部分*/
footer{
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  margin-top: 63px;
}

.footer{
  font-size: 16px;
  padding: 56px 0;
}

/*レスポンシブ対応*/
@media screen and (max-width:1118px){
  .img-box li{
    width: 300px;
    margin: 0 auto;
  }

  .img-box li:nth-child(3),
  .img-box li:last-child{
    margin: 0 auto;
  }
}

@media screen and (max-width:767px){
  .header-menu{
    display: none;
  }
  
  /*ヘッダー画像*/
  header .logo{
    position: static;
    margin-top: 42px;
    width: 220px;
  }

  .topImg-pc{
    display: none;
  }

  .topImg-sp{
    display: inline;
    margin-top: 26px;
    width: 100%;
  }

  .logoText-pc{
    display: none;
  }

  .logoText-sp{
    display: inline;
    position: absolute;
    top: 324px;
    left: 40px;
    width: 65%;
  }

  /*ヘッダーテキスト*/
  .header-text .pc{
    display: none;
  }

  .header-text{
    display: flex;
    justify-content: center;
  }

  .header-text .sp{
    display: inline;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.5px;
  }

  /*記事一覧*/
  #blog_archive{
    width: 100%;

  }

  .articles{
    margin-top: 40px;
  }

  .articles h1{
    font-size: 60px;
  }

  .img-box{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }

  .img-box li{
    margin: 0 0 20px 0;
    width: 630px;
    height: 800px;
  }

  .img-box img{
    height: 400px;
  }

  .date{
    margin: 25px 0 0 32px;
    font-size: 32px;
  }

  .article{
    margin: 30px 0 0 30px;
    height: 230px;
    font-size: 32px;
  }

  .next{
    margin: 0 27px 0 0;
    font-size: 24px;
  }
}

