li{
  list-style: none;
}

header{
  position: relative;
  width: 100%;
}

a{
  text-decoration: none;
  color: #000;
}

/*ヘッダーメニュー*/
.header-menu{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 190px;
}

.header-menu li{
  margin-left: 25px;
  font-size: 15px;
  font-family: "游ゴシック体", YuGothic;
}

/*ヘッダー画像*/
.header-img{
  text-align: center;
}

.logo{  
  position: absolute;
  top: 30px;
  left: 50px;
}

.header-text{
  margin-top: 20px;
}

.topImg-pc{
  width: 85%;
}

.topImg-sp{
  display: none;
}

.logoText-pc{
  position: absolute;
  bottom: 0;
  right: 30px;
}

.logoText-sp{
  display: none;
}

/*ヘッダーテキスト*/
.header-text .pc{
  margin: 15px 0 0 50px;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.header-text .sp{
  display: none;
}

/*記事一覧*/
.articles{
  margin: 50px auto;
}

.articles h1{
  text-align: center;
}

.img-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.img-box li{
  margin-right: 20px;
  height: 350px;
}

.img-box li:last-child{
  margin-right: 0;
}

.img-box img{
  height: 200px;
  width: 300px;
}

.img-box h3{
  margin-top: 20px;
}
.img-box p{
  margin-top: 20px;
  height: 70px;
}

.img-box a{
  display: flex;
  justify-content: flex-end;
}


/*フッター部分*/
footer{
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.footer{
  padding: 20px 0;
}

/*レスポンシブ対応*/
@media screen and (max-width:767px){
  .header-menu{
    display: none;
  }
  
  /*ヘッダー画像*/
  header .logo{
    position: static;
    margin-top: 20px;
  }

  .topImg-pc{
    display: none;
  }

  .topImg-sp{
    display: inline;
    margin-top: 20px;
    max-width: 90%;
  }

  .logoText-pc{
    display: none;
  }

  .logoText-sp{
    display: inline;
    position: absolute;
    top: 300px;
    left: 50px;
    width: 60%;
  }

  /*ヘッダーテキスト*/
  .header-text .pc{
    display: none;
  }

  .header-text{
    display: flex;
    justify-content: center;
  }

  .header-text .sp{
    display: inline;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  /*記事一覧*/
  .articles h1{
    font-size: 32px;
  }

  .img-box{
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
  }

  .img-box img{
    width: 100%;
    height: auto;
  }

  .img-box li{
    margin: 0 0 20px 0;
    height: 100%;
  }

}




